name: Build and Trigger Jenkins

on:
  push:
    branches:
      - master  # 원하는 브랜치

jobs:
  trigger-jenkins:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Jenkins Build
        run: |
          curl -X POST \
            -u "${{ secrets.thinkfast_jenkins_userid }}:${{ secrets.thinnkfast_jenkins_token }}" \
            "${{ secrets.thinkfast_jenkins_server }}:8080/job/thinkfast-backend-prod-deploy/build"
